@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(#ecedf125 20%, #21232b37 30%, white 30%);
  background-position: 0 0;
  background-size: 20px 20px;
  height: 100%;
  width: 100%;
}
